# Ignore Python cache and compiled files
__pycache__/
*.py[cod]

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore model checkpoint files
*.keras
*.h5

# Ignore dataset directories
/your-dataset-directory/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore virtual environment directories
venv/
.env/

# Ignore logs and temporary files
*.log
*.tmp

# Ignore files related to Google Colab mounts
/drive/
